In [1]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt

In [2]:
def accChangeToDemo(filepath):

    conn = sqlite3.connect(filepath)
    accdist = pd.read_sql_query("SELECT account_id, district_id from account", conn)
    df = pd.read_sql_query("SELECT date as 'y-m-d', balance, account_id from trans ", conn)
    from datetime import date
    df['y-m-d'] = pd.to_datetime(df['y-m-d'])
    df['year'] = df['y-m-d'].map(lambda x: x.strftime('%Y'))
    df = pd.merge(accdist, df, on='account_id')
    avg = df.groupby(['year', 'district_id', 'account_id'])[['balance']].mean()
    average = avg.groupby(['year', 'district_id'])[['balance']].median()
    percentChanged = (average.loc["1998"] - average.loc["1994"]) / average.loc["1994"] * 100
    #districtchange = average.groupby(['district_id'])[['balance']].diff().fillna(0)
   # asum = districtchange.groupby(['district_id']).sum([['balance']])
   # newdemo = asum.div(302.70801242)
    
    return percentChanged

In [3]:
accChangeToDemo("./desktop/utk/dse511/financial.db")

               balance
district_id
1            23.561176
2            42.210566
3            16.806799
4            32.501366
5             3.752203
...                ...
73           17.524397
74           10.129199
75            7.702035
76           37.634148
77           15.140603

[77 rows x 1 columns]