In [5]:
import preprocessing

In [7]:
preprocessing.translateDBs("./data/financial.db")

DatabaseError: Execution failed on sql 'DROP TABLE "accountEnglish"': database table is locked