In [1]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
conn = sqlite3.connect("./desktop/utk/dse511/financial.db")

In [13]:
accdist = pd.read_sql_query("SELECT account_id, district_id from account", conn)
df = pd.read_sql_query("SELECT date as 'y-m-d', balance, account_id from trans ", conn)
from datetime import date
df['y-m-d'] = pd.to_datetime(df['y-m-d'])
df['year'] = df['y-m-d'].map(lambda x: x.strftime('%Y'))
df = pd.merge(accdist, df, on='account_id')
avg = df.groupby(['year', 'district_id', 'account_id'])[['balance']].mean()

print(avg);

                                  balance
year district_id account_id
1993 1           2           32590.759259
                 36          42288.833333
                 186         32719.357143
                 197         45722.791667
                 225         23421.388889
...                                   ...
1998 77          4631        70809.458333
                 5228        75837.206897
                 5817        57901.096154
                 7181        72428.829630
                 8321        49560.968421

[17546 rows x 1 columns]

In [34]:
average = avg.groupby(['year', 'district_id'])[['balance']].mean()
print(average);

                       balance
year district_id
1993 1            28198.886937
     2            24450.621974
     3            37973.004276
     4            21418.466143
     5            22639.188357
...                        ...
1998 73           38284.292795
     74           39307.449452
     75           40393.370332
     76           40069.561800
     77           38683.527595

[462 rows x 1 columns]

In [32]:
yearlyaverage = avg.groupby(['year'])[['balance']].mean()
print(yearlyaverage);

           balance
year
1993  28607.511917
1994  33217.832529
1995  33381.146571
1996  33405.172710
1997  35865.592433
1998  38964.484511

In [35]:
districtchange = average.groupby(['district_id'])[['balance']].diff().fillna(0)
print(districtchange);

                      balance
year district_id
1993 1               0.000000
     2               0.000000
     3               0.000000
     4               0.000000
     5               0.000000
...                       ...
1998 73           2168.930897
     74           1924.776048
     75           6276.255781
     76           4008.904850
     77           2248.771871

[462 rows x 1 columns]