In [1]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt

In [2]:
def accChangeToDemo(filepath):
    """
        Creates column to be added to demographic table. Column is taken from the 
        summed difference of the median account balances by district (1994-1998)
        relative to the median account value in all data in 1994.
    Args:
        filepath (str): path to financial.db.
    """
    conn = sqlite3.connect(filepath)
    accdist = pd.read_sql_query("SELECT account_id, district_id from account", conn)
    df = pd.read_sql_query("SELECT date as 'y-m-d', balance, account_id from trans ", conn)
    from datetime import date
    df['y-m-d'] = pd.to_datetime(df['y-m-d'])
    df['year'] = df['y-m-d'].map(lambda x: x.strftime('%Y'))
    df = pd.merge(accdist, df, on='account_id')
    avg = df.groupby(['year', 'district_id', 'account_id'])[['balance']].mean()
    average = avg.groupby(['year', 'district_id'])[['balance']].median()
    districtchange = average.groupby(['district_id'])[['balance']].diff().fillna(0)
    asum = districtchange.groupby(['district_id']).sum([['balance']])
    newdemo = asum.div(302.70801242)
    
    return newdemo

In [6]:
accChangeToDemo("./desktop/utk/dse511/financial.db")

               balance
district_id
1            34.446190
2            40.123872
3            22.636222
4            50.324392
5            55.375992
6            17.300234
7            18.656231
8            38.866918
9            54.527800
10           14.633357
11           -8.359107
12           -1.100638
13           19.670158
14           11.539218
15           31.972409
16           18.396413
17           11.414297
18           27.866002
19           21.197782
20            8.166170
21           14.123440
22           45.265718
23           19.480387
24           26.111402
25           21.822692
26           50.056852
27            2.015460
28           23.208598
29           48.247539
30           12.768283
31           21.045001
32           15.931561
33           39.078656
34           65.740055
35           19.287590
36           36.326705
37           15.886272
38           50.243891
39           25.058515
40            9.776093
41           41.943425
42           37.589687
43           23.752387
44           16.551522
45            4.098826
46           17.650819
47           54.902403
48           28.163655
49           18.905808
50            6.354315
51           20.923571
52           10.864736
53           60.444046
54           25.257649
55           43.566985
56           45.026557
57           33.803271
58          -10.293522
59           37.788401
60            7.163015
61            7.810908
62           15.170456
63           11.667795
64           21.888552
65           26.318667
66           24.028337
67           32.959016
68            4.510443
69           17.240858
70           28.085342
71           39.852609
72           29.263158
73           40.948964
74            5.936128
75           34.305646
76           52.071620
77           15.161578